LLMOD_API_KEY=
LLMOD_BASE_URL=
LLMOD_CHAT_MODEL=4UHRUIN-gpt-5-mini
LLMOD_EMBEDDING_MODEL=4UHRUIN-text-embedding-3-small

PINECONE_API_KEY=
PINECONE_INDEX_NAME=medium-rag
PINECONE_NAMESPACE=medium-articles
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

RAG_CHUNK_SIZE=512
RAG_OVERLAP_RATIO=0.2
RAG_TOP_K=7
EMBEDDING_DIMENSIONS=1536
